<div class="c-user-info" *ngIf="getUser().name">
  <div class="c-user-info_overlay-backdrop"  routerLink="/"></div>

  <div *ngIf="getUser().name" class="c-user-info_user-card">
    <div class="close" routerLink="/">close</div>
    <p class="c-user-info_user-card--username">{{getUser().name}}</p>
    <div class="c-user-info_user-card--minicard">
      <h2 class="c-user-info_user-card--minicardheader">Main info:</h2>
      <p>Phone: {{getUser().phone ? getUser().phone.split('x')[0] : ''}}</p>
      <p>email: <a href="mailto:{{getUser().email}}">{{getUser().email}}</a></p>
      <p>website: <a target="_blank" href="http://{{getUser().website}}">{{getUser().website}}</a></p>
    </div>
    <div class="c-user-info_user-card--minicard">
      <h2 class="c-user-info_user-card--minicardheader">Address:</h2>
      <p>city: {{getUser().address ? getUser().address.city : ''}}</p>
      <p>street: {{getUser().address ? getUser().address.street : ''}}</p>
      <p>suite: {{getUser().address ? getUser().address.suite : ''}}</p>
      <p>zipcode: {{getUser().address ? getUser().address.zipcode : ''}}</p>
    </div>
    <div class="c-user-info_user-card--minicard">
      <h2 class="c-user-info_user-card--minicardheader">Company:</h2>
      <p>name: {{getUser().company ? getUser().company.name : ''}}</p>
      <p>bs: {{getUser().company ? getUser().company.bs : ''}}</p>
    </div>

  </div>
</div>
