.c-user-info p {
  margin: 10px 0px;
}

.c-user-info a {
  color: #3a85b2;
  text-decoration: none;
  &:hover {
    color: #2a75a2;
  }
}

.c-user-info {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  &_overlay-backdrop {
    background: #00000050;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &_message {
    color: #600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &_user-card {
    width: 500px;
    padding: 10px;
    position: relative;
    background: #fff;
    border-radius: 4px;
    &--username {
      font-size: 40px;
      margin: 12px 0px;
    }
    &--minicard {
      background: #eaeaea;
      border-radius: 3px;
      margin: 10px 0px;
      padding: 10px 10px;
    }
    &--minicardheader {
      font-size: 30px;
      margin: 0px 0px 10px 0px;
      color: #727b89;
    }

  }
}
.close {
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    color: #aaf;
  }
}
