.user-list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  &--user {
    margin: 2px;
    background: #eeeeee;
    padding: 8px 20px;
    outline: 0;
    cursor: pointer;
    color: #1f4d7d;
    border-radius: 10px 10px 0px 10px;
    cursor: pointer;
    &:hover {
      background: #eef5ff;
    }
  }
  &--selectedUser {
    background: #a9cee9;
    &:hover {
      background: #b9def9;
    }
  }

}
