<div class="user-list">
  <div class="user-list--user" *ngFor = "let u of this.userService.getUsers()" (click)="selectUser(u)" [ngClass]="{'user-list--selectedUser' : u == selectedUser}" routerLink="/{{u.id}}">{{u.name}}</div>
</div>
